<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0bDm63Q6LCxu-YwwHGVzLE-Z3G7JcSPw</string>
	<key>GCM_SENDER_ID</key>
	<string>159085237004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.everwatch.everWatch</string>
	<key>PROJECT_ID</key>
	<string>everwatch-21292</string>
	<key>STORAGE_BUCKET</key>
	<string>everwatch-21292.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159085237004:ios:bf693bc0060208a14a2f29</string>
</dict>
</plist>